version: "3.8"

services:
  wap-server:
    build: ./wap-server
    container_name: wap-server
    networks:
      - wap-net
    volumes:
      - ./content:/usr/local/apache/htdocs
    ports:
      - "8080:80"
    depends_on:
      - wap-db
    cap_add:
      - NET_ADMIN # Required for tc (traffic control)

  wap-db:
    build: ./wap-db
    container_name: wap-db
    networks:
      - wap-net
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: lovelink
    volumes:
      - ./db-init:/docker-entrypoint-initdb.d # Attempt standard init, but we override command anyway
    command: ["sh", "/docker-entrypoint-initdb.d/init-db.sh"]

  wap-client:
    image: kasmweb/firefox:1.14.0
    container_name: wap-client
    networks:
      - wap-net
    ports:
      - "6901:6901"
    environment:
      VNC_PW: password
      # Launch with small window size to mimic phone
      KASM_WINDOW_SIZE: "240x320"
    shm_size: 512m
    volumes:
      - ./client-config/policies.json:/usr/lib/firefox/distribution/policies.json

  web98-server:
    build: ./web98-server
    container_name: web98-server
    networks:
      - web98-net
    volumes:
      - ./content-web98:/usr/local/apache/htdocs
    ports:
      - "8081:80"
    depends_on:
      - web98-db
    cap_add:
      - NET_ADMIN

  web98-db:
    build: ./web98-db
    container_name: web98-db
    networks:
      - web98-net
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: lovelink
    volumes:
      - ./db-init-web98:/docker-entrypoint-initdb.d
    command: ["sh", "/docker-entrypoint-initdb.d/init-db.sh"]

networks:
  wap-net:
    driver: bridge
  web98-net:
    driver: bridge
